<div class="center hero-unit">
  <h1>Maintain Items to Break</h1>

  <h2>
    This is a list of case items that are currently being sold as pieces.
  </h2>
  <table>
  <tr>
  <% @data[0].each_key do |col| %>
    <td><%= col %></td>
    <% end %>
    <td>Action</td>
  </tr>
  <% @data.each do |hsh| %>
    <tr>
    <% hsh.each_value do |val| %>
      <td><%= val %></td>
      <% end %>
      <td><form action= <%= url "/items-to-break" %> method="post">
      <input type="hidden" name="item" value=<%= "'#{hsh["item"]}'" %> />
      <input type="submit" name="_method" value="Delete" /></form></td>
    </tr>
  <% end %>
  </table>
  <form action= <%= url "/items-to-break" %> method="post">
  Item to add: <input type="text" name="item" />Description: <input type="text" name="desc" /><br />
  <input type="submit" value="Submit" /></form>
    
</div>
